<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Cadastrar entrada</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    <style>
        .hidden {
            display: none;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}"> Entrada e saída </a></li>
                <li><a th:href="@{/pessoas}"> Listar </a></li>
                <li><a th:href="@{/pessoas/novo}"> Novo </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Cadastro de Pessoas</h1>
        </section>
        <section>
            <form th:action="${pessoa.id == null} ? @{/pessoas} : @{/pessoas/{pessoa.id}(id=${pessoa.id})}"
                  th:object="${pessoa}"
                  method="post">
                <input type="hidden" th:if="${pessoa.id != null}" name="_method" value="put" />
                
                <div th:if="${pessoa.id != null}">
                    <label>Código: </label>
                    <input th:field="*{id}" readonly="readonly" />
                </div>
                
                <div>
                    <label>Nome: <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></label>
                    <input th:field="*{nome}" required="required"/>
                </div>
                
                <div>
                    <label>Telefone: <span class="error" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span></label>
                    <input th:field="*{telefone}" required="required"/>
                </div>
                
                <div>
                    <label>Unidade: <span class="error" th:if="${#fields.hasErrors('unidade')}" th:errors="*{unidade}"></span></label>
                    <input th:field="*{unidade}" required="required"/>
                </div>
                
                <div>
                    <label>Setor: <span class="error" th:if="${#fields.hasErrors('setor')}" th:errors="*{setor}"></span></label>
                    <input th:field="*{setor}" required="required"/>
                </div>
                
                <div>
                    <label>Andar: <span class="error" th:if="${#fields.hasErrors('andar')}" th:errors="*{andar}"></span></label>
                    <input th:field="*{andar}" required="required"/>
                </div>
                
                <div>
                    <label>Paciente:</label>
                    <select th:field="*{paciente}" onchange="showHidePacienteNome(this)">
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                
                <div id="nomePaciente" class="hidden">
                    <label for="pacienteNome">Digite o nome do paciente: <span class="error" th:if="${#fields.hasErrors('paciente')}" th:errors="*{paciente}"></span></label>
                    <input type="text" th:field="*{paciente}" id="pacienteNome" required="required" />
                </div>
                
                <div>
                    <label for="observacao">Observação:</label>
                    <textarea th:field="*{observacao}" rows="4" cols="50"></textarea>
                </div>
                
                <div>
                    <button type="submit">Salvar</button>
                    <button type="button" id="limpar">Limpar</button>
                </div>
            </form>
        </section>
    </main>

    <script>
        const limparButton = document.getElementById('limpar');
        limparButton.addEventListener('click', function() {
            const form = document.querySelector('form');
            form.reset();
        });

        function showHidePacienteNome(select) {
            const pacienteNomeDiv = document.getElementById('nomePaciente');
            if (select.value === 'Não') {
                pacienteNomeDiv.classList.remove('hidden');
            } else {
                pacienteNomeDiv.classList.add('hidden');
            }
        }

        // Chamada inicial para verificar estado ao carregar a página
        showHidePacienteNome(document.querySelector('select[name="paciente"]'));
    </script>
</body>
</html>
